<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="title">Welcome To Flask! {{username}}</h1>
    <figure class="introimgcontainer">
        <img src="../static/spring_roll.jpg" class="introimg" alt="picture of spring rolls">
    </figure>
    <section class="maincontainer">
        <h2>Fruits</h2>
        <ul>
        {% for eachfruit in listfruits %}
           <li>{{eachfruit}}</li>
        {% endfor %}
        </ul>

        {%if checkfruit in listfruits%}
            <p>Great! We have {{checkfruit}} today</p>
        {% else %}
            <p>{{checkfruit}} is not in the list</p>
        {% endif %}
    </section>

    <h2>HTTP Request</h2>
    <form method="POST">
        <input type= "password" name = "password"/>
        <input type= "submit"/>
    </form>

   <h2>  <a href={{url_for("users")}}> Add New Employee</a>  </h2>

   <p>New employee is {{session["employee1"]}}</p>
</html>